
:root{
    /* Corlors */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    --color-body: #edf1f7;
    --color-red: #ff0000;
    --color-black: #000;
    --color-white: #fff;
    --color-white2: #eee;
    --color-grey: #ccc;
    --color-grey1: #858585;
    --color-whatsapp: #25d366;
    --color-green: #09bd4b;
    --color-input: #fae9fb;
    --color-label: #636c72;
    --color-button: #6c63ff;
    --color-button-hover: #6b63fff1;
    --color-success: #00F521;
    --color-attention: #F5E600;
    --color-error: #F51500;
    --color-success-p: #039417;
    --color-attention-p: #7c7401;
    --color-error-p: #830c01;
    --color-neutral-0: #ffffff;
    --color-neutral-10: #f6f6f6;
    --color-neutral-30: #000000;
    --color-neutral-40: #000000;
    --color-contact: #858585;


    /* Transition */    
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}
.aviso{
    color: red;
    font-size: 12px;
}
.container-site {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-overview{
    height: 400px;
    overflow-y: auto;
}
.map-site,
.term-of-use,
.term-of-polity,
.about-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}


.map-site h2,
.map-site h3 {
    font-weight: 500;
}

.map-site h2 {
    font-size: 1.7rem;
}

.map-site h3 {
    font-size: 1.7rem;
    margin-top: 1.7rem;
    margin-bottom: 10px;
}

.router {
    margin: 1rem 0;
    font-size: 13px;
    font-weight: 400;
}

.router a {
    color: var(--color-button);
}

.page-site {
    width: 1070px;
}

.view-map {
    display: flex;
    flex-direction: column;
}

.term,
.about-info {
    margin: 1rem 0;
    max-width: 1200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.about-info{
    display: flex;
    flex-direction: row;
}
.about-info .img-about {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-info .img-about {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-about img {
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.about {
    width: 100%;
    margin: 0 10px;
}

.about h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.carousel-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-next {
    right: 10px !important;
}

.slick-prev {
    left: 10px !important;
    z-index: 999;
}

.slick-next:before,
.slick-prev:before {
    font-size: 4rem !important;

}

.slick-dots {
    bottom: 5px !important;
}

.slick-slide img {
    max-height: 500px;
    height: 100%;
}

.slick-dots li.slick-active button:before {
    color: red !important;
}

.slick-dots li button:before {
    color: blue !important;
    font-size: 12px !important;
}
.pagamento_aprovado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: fixed;
}

.status_pgmt {
    position: absolute;
    
}

.svelte-1dfe9c6 {
    background: none !important;
    background-color: white !important;
    height: fit-content !important;
}

.modal {
    background-color: transparent !important;
}
.modal-body {
    background-color: transparent !important;
}
.success-17Dpf_.svelte-pfis07 {
    position: relative;
    top: -120px;
    /* background-color: #00F521 !important; */
}

.extra-extra-large-1GVurj.svelte-1ghw4p8 h1 {
    top: -95px;
}
.status {
    background-color: #00F521;
}

.m-content {
    background-color: #039417 !important;
}

.svelte-1dfe9c6 {
    background-color: #00F521;
}
.t {
    border: 1px solid red;
}

@media (max-width: 1000px){
    .slick-next {
        right: 50px !important;
    }

    .slick-prev {
        left: 10px !important;
    }
}
@media (max-width: 780px) {
    .slick-next:before,
    .slick-prev:before {
        font-size: 2.5rem !important;

    }

    .slick-next {
        right: 21px !important;
    }

    .slick-prev {
        left: 10px !important;
    }
    .about-info {
        flex-wrap: wrap;
    }

    .about-info .img-about {
        margin-bottom: 2rem;
    }

    .map-site {
        margin: 0;
        justify-content: start;
    }

    .map {
        width: 100%;
    }

    .about-info .img-about {
        display: flex;
        justify-content: center;
        max-width: none;
        width: 100%;
    }
}

